.head {
    background-color: lightgray;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div h1 {
    text-align: center;
}

div hr {
    border-top: 2px solid rgb(190, 146, 0);
}

h2 {
    color: rgb(190, 146, 0);
}

h3 {
    font-style: italic;
}

.foot {
    text-align: center;
}