.head {
    background-color: lightgray;
    text-align: center;
}

.head img {
    width: 150px;
    height: 150px;
    
    margin-left: auto;
    margin-right: auto;
}

.head h1 {
    text-align: center;
}

.head hr {
    border-top: 2px solid rgb(190, 146, 0);
}

.body hr{
    border-top: 1px solid rgb(190, 146, 0);
}

.body h2 {
    color: rgb(190, 146, 0);
}

.body h3 {
    font-style: italic;
}

.foot p {
    text-align: center;
}

body {

/*     margin-left: 20%;
    margin-right: 20%; */
    width: 50%;
    margin:auto;
}

